*{
    margin: 0;
    padding: 0;
}
p{
    color: white;
}
body{
    background-color: rgb(255, 0, 0);
}
.SectionSep{
    background-color: #f24848;
    position: relative;
    height: 1px;
    border: none;
    width: 90%;
    left: 5%;
}
/* Introduction */
#Intro{
    height: 100vh;
    width: 100%;
    background-color: #3aafa9ff
}
.IntroText{
    color: white;
    font-size: 66px;
    display: inline;
}
.NameIntrocolor{
    color: #172758;
    font-size: 86px;
    display: inline;
}
#NameIntroLoc{
    position: relative;
    top: 100px;
    left: 190px;
}
#JobTitle{
    position: relative;
    top: 200px;
    left: 380px;
}
.IntroQuote{
font-size: 35px;
position: relative;
top: 300px;
left: 800px;
}
.RedLine{
    background-color: #f24848;
    position: relative;
    width: 80%;
    top: 400px;
    left: 10%;
    height: 1px;
    border: none;
}
#SocialIntro{
    position: relative;
    top: 450px;
}
#FacebookIntro{
    position: relative;
    left: 380px;
    text-decoration: none;
}
#LinkedinIntro{
    position: relative;
    left: 700px;
    text-decoration: none;
}
#GithubIntro{
    position: relative;
    left: 1020px;
}
#EmailIntro{
    position: relative;
    top: 500px;
    left: 640px;
    font-size: 30px;
    color: white;
}
#Intro-About{
top: 548px;
}
/* About */
#about{
    height: 100vh;
    width: 100%;
    background-color: #3aafa9ff
    position: relative;
}
.AboutSec{
    width: 50%;
    float: left;
    height: 100%;
    position: relative;

    
}
#AboutTitle{
    position: relative;
    margin-left: 150px;
    margin-right: 1px;
    top: 200px;
    font-size: 120px;
    color: #172758;
}
#AboutText{
    margin-left: 150px;
    margin-right: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    top: 200px;
    position: relative;
    color: rgb(255, 255, 255);
    
}

/* Portfolio */
#Port{
    height: 100vh;
    width: 100%;
    background-color: rgb(205, 5, 255);
    position: relative;
}

/* Contact */
#contact{
    height: 100vh;
    width: 100%;
    background-color: rgb(35, 252, 7);
    position: relative;
}


