*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    overflow-x: hidden;

}
p{
    color: white;
}

.SectionSep{
    background-color: #f24848;
    position: relative;
    height: 1px;
    border: none;
    width: 90%;
    left: 5%;
    z-index: 5;
}
/* NavBar */
.NavBar{
    background-color: #172758;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0%;
    z-index: 10;
    color: white;
    font-size: 22px;
    text-decoration: none;
}
#IntroNavBar{
    position: relative;
    left: 13%;
    top: 20px;
    color: white;
    text-decoration: none;
}
#IntroNavBar:hover{
    color: #f24848;
}
#AboutNavBar{
    position: relative;
    left: 19%;
    top: 20px;
    color: white;
    text-decoration: none;
}
#AboutNavBar:hover{
    color: #f24848;
}
#PortNavBar{
    position: relative;
    left: 26%;
    top: 20px;
    color: white;
    text-decoration: none;
}
#PortNavBar:hover{
    color:#f24848
}
#ConNavBar{
    position: relative;
    left: 33%;
    top: 20px;
    color: white;
    text-decoration: none;
}
#ConNavBar:hover{
    color: #f24848;
}
#ResumeNavBar{
    position: relative;
    left: 39%;
    top: 20px;
    color: white;
    text-decoration: none;
}
#ResumeNavBar:hover{
    color: #f24848;
}
/* Introduction */
#Intro{
    height: 100vh;
    width: 100%;
    background-color: #3aafa9ff
}
.IntroText{
    color: white;
    font-size: 66px;
    display: inline;
}
.NameIntrocolor{
    color: #172758;
    font-size: 86px;
    display: inline;
}
#NameIntroLoc{
    position: relative;
    top: 100px;
    left: 190px;
}
#JobTitle{
    position: relative;
    top: 200px;
    left: 380px;
}
.IntroQuote{
font-size: 35px;
position: relative;
top: 300px;
left: 800px;
}
.RedLine{
    background-color: #f24848;
    position: relative;
    width: 80%;
    top: 400px;
    left: 10%;
    height: 1px;
    border: none;
}
#SocialIntro{
    position: relative;
    top: 450px;
}
#FacebookIntro{
    position: relative;
    left: 31%;
    text-decoration: none;
}
#LinkedinIntro{
    position: relative;
    left: 41%;
    text-decoration: none;
}
#GithubIntro{
    position: relative;
    left: 51%;
}
#EmailIntro{
    position: relative;
    top: 500px;
    left: 41%;
    font-size: 30px;
    color: white;
}
#EmailIntro:hover{
    color: #f24848;
}
#Intro-About{
    position: absolute;
    top: 100vh;
}
/* About */
#about{
    height: 80vh;
    width: 100%;
    background-color: #3aafa9ff;
    position: relative;
}
.AboutSec1{
    width: 40%;
    float: left;
    height: 100%;
    position: relative;
}
.AboutSec2{
    width: 60%;
    float: left;
    height: 100%;
    position: relative;
}
#AboutTitle{
    position: relative;
    margin-left: 150px;
    margin-right: 1px;
    top: 200px;
    font-size: 150px;
    color: #172758;
}
#AboutText{
    margin-left: 150px;
    margin-right: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    top: 200px;
    position: relative;
    color: rgb(255, 255, 255);
    
}

/* Portfolio */
#About-Port{
    position: absolute;
}
#Port{
    height: 50vh;
    width: 100%;
    background-color: #3aafa9ff;
    position: relative;
}
#PortTitle{
    color: #172758;
    font-size: 66px;
    position: relative;
    left: 43%;
}

#Port-Cont{
    position: absolute;
    
}
/* Contact */
#contact{
    height: 100vh;
    width: 100%;
    background-color: #3aafa9ff;
    position: relative;
}
.ContactFormHead{
    position: relative;
    color: #172758;
    font-size: 86px;
    left: 30%;
    top: 100px;
}
.ContactHeadText{
    position: relative;
    font-size: 30px;
    top: 150px;
    left: 35%;
}
.FormField{
    border: solid;
    border-color: #172758;
    border-radius: 5px;
    border: 0.5;
    color: #172758;
    background-color: #9de9f7;
    width: 350px;
    height: 40px;
    font-size: 37;
}
#FormName{
    position:absolute;
    top: 350px;
    left: 25%;
}
#FormEmail{
    position: absolute;
    top: 452px;
    left: 25%;
}
.FormMessage{
    position: absolute;
    border: solid;
    border-color: #172758;
    border-radius: 5px;
    border: 0.5;
    color: #172758;
    background-color: #9de9f7;
    width: 350px;
    height: 142px;
    font-size: 37;
    top: 350px;
    left: 50%;
}
.Submit{
    border: solid;
    border-color: #172758;
    border-radius: 5px;
    border: 0.5;
    color: #172758;
    background-color: #9de9f7;
    width: 140px;
    height: 50px;
    font-size: 37;
}
#SubmitCon{
    position: absolute;
    top: 552px;
    left: 43%;
}
#FormNo{
    position: absolute;
    top: 602px;
    left:35%;
    font-size: medium;
}
/* Footer */
#footer{
    background-color: #172758;
    width: 100%;
    height: 100px;
    position: relative;
    color: white;
    font-size: 22px;
}
#IntroNavF{
    position: relative;
    left: 60%;
    top: 40px;
    color: white;
    text-decoration: none;
    overflow-x:visible;
}
#IntroNavF:hover{
    color: #f24848;
}
#AboutNavF{
    position: relative;
left: 65%;
top: 40px;
color: white;
text-decoration: none;
overflow-x:visible;
}
#AboutNavF:hover{
color: #f24848;
}
#PortNavF{
    position: relative;
    left: 70%;
    top: 40px;
    color: white;
    text-decoration: none;
}
#PortNavF:hover{
    color: #f24848;
}
#ConNavF{
    position: relative;
    left: 75%;
    top: 40px;
    color: white;
    text-decoration: none;
}
#ConNavF:hover{
    color: #f24848;
}
#ResumeNavF{
    position: relative;
    left: 80%;
    top: 40px;
    color: white;
    text-decoration: none;
}
#ResumeNavF:hover{
    color: #f24848;
}
#CopyrightF{
    position: absolute;
    top: 40px;
    left: 10%;
    color: rgb(255, 255, 255);
}
#SocialCon{
    position: relative;
    top: 500px;
    width: 100%;
}
#FacebookCon{
    position: relative;
    left: 31%;
    text-decoration: none;
}
#LinkedinCon{
    position: relative;
    left: 41%;
    text-decoration: none;
}
#GithubCon{
    position: relative;
    left: 51%;
}
/* https://www.w3schools.com/howto/howto_css_shapes.asp */
#ScrollUp {
    position: absolute;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid #172758;
    border-radius: 5px;
    left: 45%;
    top: 94%;
    overflow: hidden;
}
#ScrollUp:hover{
    border-bottom: 50px solid #f24848;
}