.AboutStr{
    width: 50%;
    height: 1000px;
    float: left;
    position: relative;
    
}
.Title{
    color: rgb(250, 79, 79);
    
    
}
.footer{
    width: 100%;
    height: 100px;
    background-color: blue;
    position: relative;
    top: 900px;
}

/*  https://stackoverflow.com/questions/16134122/blank-space-at-the-bottom-of-the-page*/
.Wrapper{
    width: 100%;
    overflow: hidden;
    height: 2800px;
}
#Intro{
    height: 400px;
    width: 100%;
    background-color: rgb(233, 197, 247);
    position: relative;
    
    
}
#Port{
    height: 800px;
    width: 100%;
    background-color: rgb(247, 248, 172);
    position: relative;
    z-index: 2;
    top: -50px;
    transform: skew(0, 2deg);
    -ms-transform: skew(0, 2deg);
    -moz-transform: skew(0, 2deg);
    -o-transform: skew(0, 2deg);
}
#Contact{
    height: 400px;
    width: 100%;
    background-color: rgb(233, 197, 247);
    position: relative;
    z-index: 2;
    top: 700px;
    transform: skew(0, -2deg);
    -ms-transform: skew(0, -2deg);
    -moz-transform: skew(0, -2deg);
    -o-transform: skew(0, -2deg);

}
#AboutT{
    position: relative;
    margin-left: 150px;
    margin-right: 1px;
    top: 200px;
    font-size: 150px;

    
}
#AboutB{
    margin-left: 150px;
    margin-right: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    top: 200px;
    position: relative;
    color: rgb(255, 255, 255);
}
#footerH{
    height: 300px;
    width: 100%;
    background-color: rgb(251, 255, 0);
    position: relative;
    top: -270px;
    
}
#FooterS{
    height: 300px;
    width: 100%;
    background-color: rgb(247, 248, 172);
    position: relative;
    top: 50px;
    z-index: 1;
    border: 2px;
    border-color: black;
    overflow: hidden;

   

}
#PortLower{
    height: 300px;
    width: 100%;
    background-color: rgb(247, 248, 172);
    position: relative;
    transform: skew(0, -2deg);
    -ms-transform: skew(0, -2deg);
    -moz-transform: skew(0, -2deg);
    -o-transform: skew(0, -2deg);
    top: -120px;
    z-index: 1;
}
.IntroText{
    font-size: 50px;
    text-align: center;
    top: 80px;
    position: relative;
    color: white;
}
#AboutText{
    position: relative;
    top: -160px;
}
#AboutPic{
    position: relative;
    top: 140px;
}

/* https://www.youtube.com/watch?v=vb00fdiivXI&t=105s */
*{
    margin: 0;
    padding: 0;
    
}

#PortTitle{
    font-size: 50px;
    text-align: center;
    top: 80px;
    position: relative;
}
#Mail{
    position: relative;
    top: -800px;
    left: 300px;

}
#ContactPos{
    position: relative;
    top: -900px;
    font-size: 50px;
    text-align: center;
}
#Linkedin{
    position: relative;
    top: -800px;
    left: 500px;
}
#Facebook{
    position: relative;
    top: -800px;
    left: 1000px;
}
#Github{
    position: relative;
    top: -800px;
    left: 1100px;
}
